.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
